
<h1><%= location %>'s <%=dailyWeather.name  %> 's Weather : </h1>
    
    <p>Temperature is: <%= dailyWeather.heat  %></p>
    <p>Wind speed is: <%= dailyWeather.wind  %></p>
    <p>Other details: <%= dailyWeather.detail  %></p>
    <p>Hours of Sun: <%= dailyWeather.hrsOfSun  %></p>
    
